

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'reg/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'reg/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'reg/signup/signup.css' %}">
    <link rel="stylesheet" href="{% static 'reg/login/login.css' %}">
</head>
<body>

    <form class="login" method="post">
        {% csrf_token %}
        <label>Вход</label>
        {{ form }}
        <input type="submit" value="Войти" name="login_btn" id="login_btn"/>
        <a href="/reg/signup/"><label>Зарегистрироваться</label></a>
    </form>

    <footer>

    </footer>

</body>
</html>